version: '3.9'

services:
  frontend:
    image: mydockerhubuser/frontend:latest
    ports:
      - "80:80"
    networks:
      - app-network

  backend:
    image: mydockerhubuser/backend:latest
    ports:
      - "5000:5000"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

